/* ==========================================================================
    Sprite
========================================================================== */
$sprites: sprite-map("common/sprite/*.png", $spacing: 20px);

%base-sprite {
    background: sprite-url($sprites) no-repeat;
    @include background-size(ceil(image-width(sprite-path($sprites)) / 2), auto);
    overflow: hidden;
}

@mixin sprite-background($name, $width: "false", $height: "false", $size: "true") {
    @extend %base-sprite;

    @if $size == "true" {
        @if $width == "false" {
            width: image-width(sprite-file($sprites, $name)) / 2;
        } @else {
            width: $width;
        }

        @if $height == "false" {
            height: image-height(sprite-file($sprites, $name)) / 2;
        } @else {
            height: $height;
        }
    }

    $ypos: round(nth(sprite-position($sprites, $name), 2) / 2);
    background-position: 0 $ypos;
}
