/* ==========================================================================
    Module
========================================================================== */

// @for $i from 1 through 10 {
//     .mt#{$i * 10 - 5} { margin-top: #{$i * 10 - 5}px; }
//     .mr#{$i * 10 - 5} { margin-right: #{$i * 10 - 5}px; }
//     .mb#{$i * 10 - 5} { margin-bottom: #{$i * 10 - 5}px; }
//     .ml#{$i * 10 - 5} { margin-left: #{$i * 10 - 5}px; }
//     .mt#{$i * 10} { margin-top: #{$i * 10}px; }
//     .mr#{$i * 10} { margin-right: #{$i * 10}px; }
//     .mb#{$i * 10} { margin-bottom: #{$i * 10}px; }
//     .ml#{$i * 10} { margin-left: #{$i * 10}px; }
// }

// @for $i from 5 through 30 {
//     .fz#{$i} { font-size: #{$i}px; }
// }

.font-bold { font-weight: bold; }
.font-normal { font-weight: normal; }

.float-right { float: right; }
.float-left { float: left; }
.clear { clear: both; }

.align-right { text-align: right; }
.align-center { text-align: center; }
.align-left { text-align: left; }

.display-inline-block { display: inline-block; }
.display-inline { display: inline; }
.display-block { display: block; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
