
block variable

- var bodyClass = [];
- for (i = 0, l = page.length; i < l; i++) {
-     bodyClass.push('page-' + page[i]);
- }

doctype
html.no-js(lang="#{constant.LANG}")
    include _meta

    body(class="#{bodyClass.join(' ')}")
        #wrapper

            include _header
            include _social
            block content
            include _footer

        include _script
