
ul.share-list.clearfix
    li.share-list-item.facebook
        a(href="//fb.com/share.php?u=#{encodeURIComponent(constant.BASE_URL)}", target="_blank") facebook
    li.share-list-item.twitter
        a(href="//twitter.com/intent/tweet?original_referer=#{encodeURIComponent(constant.BASE_URL)}&text=#{encodeURIComponent(constant.TWITTER.tweet)}", target="_blank") twitter
