ul.social-share
    li.facebook
        a(href="//fb.com/share.php?u=#{BASE_URL}", target="_blank") facebook
    li.twitter
        a(href="//twitter.com/intent/tweet?original_referer=#{BASE_URL}&text=#{twitter.tweet}", target="_blank") twitter
